<!DOCTYPE html>
<html>
<body>
    <div class="col-md-4">
   <form action="/servercreate" method="POST" > 
     Name: <input name="Name" type="text" value="" >
     Project: <input name="Project" type="text" value="" >
Pem: <input name="Pem" type="text" value="" >
User: <input name="User" type="text" value="" >
MachineType: <input name="MachineType" type="text" value="" >
ImageProj: <input name="ImageProj" type="text" value="" >
Imagefamily: <input name="Imagefamily" type="text" value="" >
Zone: <input name="Zone" type="text" value="" >
Network: <input name="Network" type="text" value="" >
Subnet: <input name="Subnet" type="text" value="" >
Region: <input name="Region" type="text" value="" >


       <input type="submit">
   </form>
    </div>
</body>
</html>
